.content {
  display: flex;
  gap: 1vw;
  padding: 1vw;
}

.inputWrapper {
  width: 100%;
}
.searchInput {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 3rem;
}
.modulesList {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 1vw;
  padding: 0;
}
