.content {
  display: flex;
  gap: 1vw;
  padding: 1vw;
}

.inputWrapper {
  width: 100%;
}

.searchInput {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 3vw;
  padding: 5px 10px;
}

.modulesList {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1vw;
  padding: 0;
}
