.cardClass {
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.ant-select-selection-item {
    font-size: 40px !important;
    color: red;
    background-color: red;
}

.ant-select-selection-item .ant-select-selection-item-content .ant-select-selection-overflow-item .ant-select-selection-overflow {
    height: 100% !important;
}